<app-cabecera></app-cabecera>

 
  
  
  <ion-content [fullscreen]="true">
    <br><br><br><br>
    <ion-text style="text-align: center;" color="secondary">
      <h1>Bienvenido/a</h1>
    </ion-text>
  <div id="ajuste">
    <br>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <div class="centrado">

        <ion-card-header>
          <ion-button routerLink="/login" color="primary">Ingresar</ion-button>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="primary" routerLink="/registro">Registrarse</ion-button>

        </ion-card-content>
        </div>
      </ion-card>



      
    </ion-col>
    
    


  </ion-row>
</div>
</ion-content>


<app-footer></app-footer>
