<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
      <ion-button (click)="togger()" >
<ion-icon slot="icon-only" name="menu"></ion-icon>

      </ion-button>
<ion-title style="margin-top: -7%;
position: absolute;
text-align: center;
margin-left: 37%;">
  PAGO MOVIL
</ion-title>
</ion-toolbar>
</ion-header>