<app-cabecera></app-cabecera>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Cédula</ion-label>
      <ion-input type="text" [(ngModel)]="cedula"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label position="stacked" >Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" >Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>
    
    <center><ion-button expand="full" (click)="insert()" [disabled]="disabledbutton" >Guardar</ion-button></center>
    
    </ion-list>
</ion-content>

<app-footer></app-footer>
